#header {
  padding: 20px 20px;
}

#nav {
  background-color: lightcoral;
  padding: 20px;
  margin: 5px 20px;
  border-radius: 10px;
}

#nav a {
  margin: 3px;
}

#section {
  background-color: orange;
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
}

body {
  width: 100%;
  margin: auto;
  text-align: center;
}

h1 {
  background-color: black;
  color: white;
  margin: 0px;
  padding: 20px;
}

h2 {
  font-weight: bold;
}

.mainnav {
  background-color: #333333;
  padding: 1px;
  margin: auto;
}

.main {
  display: inline;

  margin: 1px;
}

.main a:hover {
  color: red;
}

.main a {
  color: white;
}

.row {
  display: flex;
  float: left;
}

.column-left {
  width: 30%;
}

.column-right {
  width: 70%;
}

nav a {
  text-decoration: none;
}

nav ul {
  list-style-type: none;
}

.vertical {
  float: left;
  position: absolute;
  height: 100%;
  padding-right: 40px;

  text-align: left;
  background-color: #eeeeee;
}

.link-vertical a {
  color: black;
}

.link-vertical a:hover {
  text-decoration: underline;
}

.text {
  text-align: left;
  padding-top: 20px;
  padding-left: 70px;
  position: relative;
  width: 100%;
}

.footer {
  width: 100%;
  position: fixed;
  bottom: 0px;
  text-align: center;
  background-color: black;
  color: white;
  padding: 3px;
  margin: 0px;
}

.secondpage-style {
  max-width: 400px;
  margin: auto;
  text-align: center;
}

.styling {
  border-radius: 20px;
  border: black solid 1px;
  padding: 20px;
  margin: 40px;
  background-color: white;
  color: black;
}

.stylings {
  border-radius: 20px;
  background-color: greenyellow;
  padding: 20px;
  margin-bottom: 40px;
}

.links {
  text-align: left;
  margin: 30px;
  padding: 10px;
}

.list {
  list-style-type: upper-latin;
}

.anotherlist {
  list-style-type: square;
}

.firstpagelist {
  color: green;
  border: dotted 2px black;
  margin: 10px;
  padding-right: 20px;
  position: fixed;
}
